@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px 90px;
  max-width: 1200px;
  font-size: 11px;
  text-transform: uppercase;
  width: 100%;
}
.header-content a {
  white-space: nowrap;
  color: #cacaca;
  text-decoration: none;
}
.header-content nav {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}
@media screen and (max-width: 450px) {
  .header-content {
    font-weight: bold;
    flex-direction: column;
    align-items: start;
  }
  .header-content nav {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}

.header-logo {
  position: relative;
  padding-left: 40px;
}
.header-logo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background: url("../images/logo.svg") center/cover no-repeat;
}

.search-input {
  background: #3c3b3d;
  border-radius: 12px;
  border: none;
  width: 248px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
@media screen and (max-width: 450px) {
  .search-input {
    width: 100%;
  }
}
.search-input::placeholder {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.page-pricing {
  padding-top: 100px;
  color: #fff;
}

.pricing-container {
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .pricing-container {
    flex-direction: column;
  }
}

.pricing-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  border-radius: 1rem;
  flex-grow: 1;
}
.pricing-item h3 {
  margin-bottom: 200px;
}

.pricing-value {
  line-height: 1rem;
  font-size: 64px;
}
.pricing-value::after {
  content: "руб.";
  text-transform: uppercase;
  font-size: 32px;
  position: relative;
  left: 16px;
  top: -24px;
}

.pricing-footer {
  font-size: 12px;
  text-align: center;
  margin: 64px 0;
}

.pricing-disclaimer {
  text-align: center;
  max-width: 1200px;
  margin-top: 40px;
  padding: 0 20px;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.page-news {
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.page-news h2 {
  text-align: center;
}

.news-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 65px;
  max-width: 1240px;
  padding: 0 20px;
}

.news {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 50px;
}
@media screen and (max-width: 800px) {
  .news {
    flex-direction: column;
  }
}
.news img {
  flex-shrink: 1;
}
.news:nth-child(2) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .news:nth-child(2) {
    flex-direction: column;
  }
}

.news-description {
  flex-basis: 50%;
  margin-bottom: 18px;
}
.news-description h3 {
  font-size: 30px;
  line-height: 45px;
  text-transform: none;
  margin-top: 0;
  font-weight: normal;
}
@media screen and (max-width: 450px) {
  .news-description h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
.news-description p {
  margin-bottom: 24px;
}
.news-description .author-label {
  margin-bottom: 48px;
}

.singer-photo {
  background-position: center;
  background-size: cover;
  width: 575px;
  flex-basis: 50%;
}
@media screen and (max-width: 800px) {
  .singer-photo {
    width: 100%;
    flex-basis: 100%;
    min-height: 186px;
  }
}
.singer-photo.bg-eminem {
  background-image: url("../images/Music to Be Murdered By.png");
}
.singer-photo.bg-ozborn {
  background-image: url("../images/Ordinary Man.png");
}

.author-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-size: 12px;
}
.author-label .author {
  color: #f89202;
}
.author-label img {
  height: 19px;
  width: 19px;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.page-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 100px;
}

.app-data-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  gap: 144px;
  max-width: 1240px;
  padding: 0 20px;
}
@media screen and (max-width: 800px) {
  .app-data-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }
}
.app-data-container .description {
  max-width: 600px;
}
.app-data-container .btn-download {
  text-transform: none;
  background-color: #95390c;
  border: none;
  border-radius: 32px;
  font-size: 12.8px;
  padding: 16px 40px;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-columns {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

footer .top-section {
  padding: 3rem 20px;
  border-bottom: 2px solid #cacaca;
}
footer .bottom-section {
  padding: 2rem 20px;
}
footer a {
  color: #e0e0e0;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1240px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.grid-container .links-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grid-container .links-block h2 {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.grid-container .social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-links {
  max-width: 1240px;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 450px) {
  .footer-links {
    flex-direction: column;
  }
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  text-transform: uppercase;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px #fff solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}
.btn-green {
  background: #34c176;
  border: none;
}
.btn-full-width {
  width: -webkit-fill-available;
  text-align: center;
}

.mg-0 {
  margin: 0;
}

.login-section {
  padding: 200px 0;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1240px) {
  .login-section {
    padding: 200px 20px;
  }
}

.bg, .bg-500, .bg-250, .bg-free, .bg-banner {
  background-position: center;
  background-size: cover;
}
.bg-banner {
  background-image: url("../images/banner.png");
}
.bg-free {
  background-image: url("../images/subscribe_1.png");
}
.bg-250 {
  background-image: url("../images/subscribe_2.png");
}
.bg-500 {
  background-image: url("../images/subscribe_3.png");
}
.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.login-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 24px;
  max-width: 570px;
  margin: 0 20px;
}
@media screen and (max-width: 610px) {
  .login-form {
    margin: 0;
  }
}
.login-form label {
  flex-grow: 1;
  flex-basis: 10%;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
}
.login-form input {
  min-width: 100%;
  min-height: inherit;
  box-sizing: border-box;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: transparent;
  color: #fff;
}
.login-form input::placeholder {
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
