@mixin flex-container($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


.flex {
  display: flex;
  width: 100%;

  &-columns {
    flex-direction: column;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-basis-100 {
    flex-basis: 100%;
  }
}