@import "variables";
@import "fonts";

@mixin mobile-styles {
  @media screen and (max-width: 450px) {
    @content
  }
}

@mixin wide-styles {
  @media screen and (max-width: 1240px) {
    @content
  }
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $dark-gray;

  background: $black;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;

  text-transform: uppercase;

  @include mobile-styles {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;

  text-transform: uppercase;

  @include mobile-styles {
    font-size: 18px;
    line-height: 27px;
  }
}

.mg-0 {
  margin: 0;
}
